/* icons */
.icn-add-folder {
    display: inline-block;
    /* background-image: url('../media/svg_icons/folder-plus.svg'); */
    /* background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/folder-plus.svg') no-repeat center;
    mask: url('../media/svg_icons/folder-plus.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-list {
    display: inline-block;
    /* background-image: url('../media/svg_icons/list-view.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/list-view.svg') no-repeat center;
    mask: url('../media/svg_icons/list-view.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #4C94A0;
    width: 16px;
    height: 16px;
}

.icn-grid {
    display: inline-block;
    /* background-image: url('../media/svg_icons/grid-view.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/grid-view.svg') no-repeat center;
    mask: url('../media/svg_icons/grid-view.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #4C94A0;
    width: 16px;
    height: 16px;
}

.icn-search {
    display: inline-block;
    /* background-image: url('../media/svg_icons/search.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/search.svg') no-repeat center;
    mask: url('../media/svg_icons/search.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #839FA0;
    width: 16px;
    height: 16px;
}

.icn-question {
    display: inline-block;
    /* background-image: url('../media/svg_icons/question.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/question.svg') no-repeat center;
    mask: url('../media/svg_icons/question.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #EBF2E4;
    width: 16px;
    height: 16px;
}

.icn-menu {
    display: inline-block;
    /* background-image: url('../media/svg_icons/menu.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/menu.svg') no-repeat center;
    mask: url('../media/svg_icons/menu.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #4C94A0;
    width: 16px;
    height: 16px;
}

.icn-world {
    display: inline-block;
    /* background-image: url('../media/svg_icons/world.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/world.svg') no-repeat center;
    mask: url('../media/svg_icons/world.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 12px;
    height: 12px;
}

.icn-stack {
    display: inline-block;
    /* background-image: url('../media/svg_icons/stack.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/stack.svg') no-repeat center;
    mask: url('../media/svg_icons/stack.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #EBF2E4;
    width: 12px;
    height: 12px;
}

.icn-phone {
    display: inline-block;
    /* background-image: url('../media/svg_icons/phone.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/phone.svg') no-repeat center;
    mask: url('../media/svg_icons/phone.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 12px;
    height: 12px;
}

.icn-person {
    display: inline-block;
    /* background-image: url('../media/svg_icons/person.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/person.svg') no-repeat center;
    mask: url('../media/svg_icons/person.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-reference-library {
    display: inline-block;
    /* background-image: url('../media/svg_icons/reference-library.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/reference-library.svg') no-repeat center;
    mask: url('../media/svg_icons/reference-library.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-file {
    display: inline-block;
    /* background-image: url('../media/svg_icons/file.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/file.svg') no-repeat center;
    mask: url('../media/svg_icons/file.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-message {
    display: inline-block;
    /* background-image: url('../media/svg_icons/message.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/message.svg') no-repeat center;
    mask: url('../media/svg_icons/message.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-conversation {
    display: inline-block;
    /* background-image: url('../media/svg_icons/conversation.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/conversation.svg') no-repeat center;
    mask: url('../media/svg_icons/conversation.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-file-double {
    display: inline-block;
    /* background-image: url('../media/svg_icons/file-double.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/file-double.svg') no-repeat center;
    mask: url('../media/svg_icons/file-double.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-youtube {
    display: inline-block;
    /* background-image: url('../media/svg_icons/youtube.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/youtube.svg') no-repeat center;
    mask: url('../media/svg_icons/youtube.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-horizontal-stack {
    display: inline-block;
    /* background-image: url('../media/svg_icons/horizontal-stack.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/horizontal-stack.svg') no-repeat center;
    mask: url('../media/svg_icons/horizontal-stack.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-board {
    display: inline-block;
    /* background-image: url('../media/svg_icons/board.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/board.svg') no-repeat center;
    mask: url('../media/svg_icons/board.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-play {
    display: inline-block;
    /* background-image: url('../media/svg_icons/play.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/play.svg') no-repeat center;
    mask: url('../media/svg_icons/play.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-message-question {
    display: inline-block;
    /* background-image: url('../media/svg_icons/message-question.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/message-question.svg') no-repeat center;
    mask: url('../media/svg_icons/message-question.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-faq {
    display: inline-block;
    /* background-image: url('../media/svg_icons/faq.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/faq.svg') no-repeat center;
    mask: url('../media/svg_icons/faq.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-persons {
    display: inline-block;
    /* background-image: url('../media/svg_icons/persons.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/persons.svg') no-repeat center;
    mask: url('../media/svg_icons/persons.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-loop {
    display: inline-block;
    /* background-image: url('../media/svg_icons/loop.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/loop.svg') no-repeat center;
    mask: url('../media/svg_icons/loop.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-file-fold {
    display: inline-block;
    /* background-image: url('../media/svg_icons/file-fold.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/file-fold.svg') no-repeat center;
    mask: url('../media/svg_icons/file-fold.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-globe {
    display: inline-block;
    /* background-image: url('../media/svg_icons/globe.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/globe.svg') no-repeat center;
    mask: url('../media/svg_icons/globe.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #EBF2E4;
    width: 12px;
    height: 12px;
}

.icn-marker {
    display: inline-block;
    /* background-image: url('../media/svg_icons/marker.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/marker.svg') no-repeat center;
    mask: url('../media/svg_icons/marker.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-circut {
    display: inline-block;
    /* background-image: url('../media/svg_icons/circut.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/circut.svg') no-repeat center;
    mask: url('../media/svg_icons/circut.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-chart {
    display: inline-block;
    /* background-image: url('../media/svg_icons/chart.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/chart.svg') no-repeat center;
    mask: url('../media/svg_icons/chart.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;  
    width: 16px;
    height: 16px;
}

.icn-notepad {
    display: inline-block;
    /* background-image: url('../media/svg_icons/notepad.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/notepad.svg') no-repeat center;
    mask: url('../media/svg_icons/notepad.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #839FA0;
    width: 16px;
    height: 16px;
}

.icn-heart {
    display: inline-block;
    /* background-image: url('../media/svg_icons/heart.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/heart.svg') no-repeat center;
    mask: url('../media/svg_icons/heart.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #EBF2E4;
    width: 16px;
    height: 16px;
}

.icn-image-gallery {
    display: inline-block;
    /* background-image: url('../media/svg_icons/image-gallery.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/image-gallery.svg') no-repeat center;
    mask: url('../media/svg_icons/image-gallery.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-phone-book {
    display: inline-block;
    /* background-image: url('../media/svg_icons/phone-book.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/phone-book.svg') no-repeat center;
    mask: url('../media/svg_icons/phone-book.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-team {
    display: inline-block;
    /* background-image: url('../media/svg_icons/team.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/team.svg') no-repeat center;
    mask: url('../media/svg_icons/team.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-hand-shake {
    display: inline-block;
    /* background-image: url('../media/svg_icons/hand-shake.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/hand-shake.svg') no-repeat center;
    mask: url('../media/svg_icons/hand-shake.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-file-search {
    display: inline-block;
    /* background-image: url('../media/svg_icons/file-search.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/file-search.svg') no-repeat center;
    mask: url('../media/svg_icons/file-search.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-help {
    display: inline-block;
    /* background-image: url('../media/svg_icons/help.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/help.svg') no-repeat center;
    mask: url('../media/svg_icons/help.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-edit {
    display: inline-block;
    /* background-image: url('../media/svg_icons/edit.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/edit.svg') no-repeat center;
    mask: url('../media/svg_icons/edit.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 11px;
    height: 11px;
}

.icn-assessment {
    display: inline-block;
    /* background-image: url('../media/svg_icons/assessment.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/assessment.svg') no-repeat center;
    mask: url('../media/svg_icons/assessment.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 11px;
    height: 11px;
}

.icn-book {
    display: inline-block;
    /* background-image: url('../media/svg_icons/book.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/book.svg') no-repeat center;
    mask: url('../media/svg_icons/book.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 11px;
    height: 11px;
}

.icn-location {
    display: inline-block;
    /* background-image: url('../media/svg_icons/location.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/location.svg') no-repeat center;
    mask: url('../media/svg_icons/location.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #074A37;
    width: 16px;
    height: 16px;
}

.icn-circle-plus {
    display: inline-block;
    /* background-image: url('../media/svg_icons/circle-plus.svg');
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-mask: url('../media/svg_icons/circle-plus.svg') no-repeat center;
    mask: url('../media/svg_icons/circle-plus.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #fff;
    width: 16px;
    height: 16px;
}

.icn-ecosystem-goal-one {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Ecosystems/Sub icons/Icons_Tier 2_Ecosystems_B_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-ecosystem-goal-two {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Ecosystems/Sub icons/Icons_Tier 2_Ecosystems_A_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-ecosystem-goal-three {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Ecosystems/Sub icons/Icons_Tier 2_Ecosystems_C_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-wellbeing-goal-one {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Human_Wellbeing/Sub icons/Icons_Tier 2_Human Wellbeing_A_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-wellbeing-goal-two {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Human_Wellbeing/Sub icons/Icons_Tier 2_Human Wellbeing_B_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-governance-goal-one {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Governance/Sub icons/Icons_Tier 2_Governance_A_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-governance-goal-two {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Governance/Sub icons/Icons_Tier 2_Governance_B_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-production-goal-one {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Production/Sub icons/Icons_Tier 2_Production_A_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icn-production-goal-two {
    display: inline-block;
    background-image: url('../media/icons_and_Illustrations/Icons/PNGs/Production/Sub icons/Icons_Tier 2_Production_B_Pale Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

/* end icons */


/* icon sizes */

.icn-13px {
    width: 13px !important;
    height: 13px !important;
}

.icn-1x {
    width: 18px !important;
    height: 18px !important;
}

.icn-2x {
    width: 21px !important;
    height: 21px !important;
}

.icn-3x {
    width: 26px !important;
    height: 26px !important;
}

.icn-4x {
    width: 30px !important;
    height: 30px !important;
}

/* sizes end */

/* color */

.icn-white {
    background-color: #fff !important;
}

.icn-primary {
    background-color: #074A37 !important;
}

.icn-pale {
    background-color: #EBF2E4 !important;
}